<p>
  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input matInput (blur)="updateErrorMessage()" [formControl]="password" required [type]="hide() ? 'password' : 'text'" />
    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (password.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>
</p>